/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: UnitRegularRegular; src: url("fonts/unitregular.eot"); src: url("fonts/unitregular.eot?#iefix") format("embedded-opentype"), url("fonts/unitregular.woff") format("woff"), url("fonts/unitregular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: unit_slab_offc_proregular; src: url("fonts/unit_slab_offc_pro-webfont.eot"); src: url("fonts/unit_slab_offc_pro-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/unit_slab_offc_pro-webfont.woff") format("woff"), url("fonts/unit_slab_offc_pro-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: unit_slab_offc_probold; src: url("fonts/unit_slab_offc_pro_bold-webfont.eot"); src: url("fonts/unit_slab_offc_pro_bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/unit_slab_offc_pro_bold-webfont.woff") format("woff"), url("fonts/unit_slab_offc_pro_bold-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { min-width: 1158px; font-size: 16px; font-family: "UnitRegularRegular", arial, sans-serif; line-height: 1.4; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; color: #292929; }

.out { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -90px; }
.out.index-page *::selection { color: white; background: #81c200; }
.out.laboratory-page *::selection { color: white; background: #00d1fe; }
.out.product-page *::selection { color: white; background: #292929; }
.out.product-page *::selection { color: white; background: #292929; }
.out.contacts-page *::selection { color: white; background: #f14047; }
.out.history-page *::selection { color: white; background: #ebbe07; }
.out.vacancy-page *::selection { color: white; background: #73d037; }

.push { height: 90px; }

.h1, .h2 { margin-bottom: 15px; font-size: 60px; font-family: "unit_slab_offc_probold", arial, sans-serif; color: #292929; }

.h2 { font-size: 42px; }

.title { margin-bottom: 100px; font-size: 64px; font-family: "unit_slab_offc_proregular", arial, sans-serif; text-align: center; }
.title.title_white { color: white; }

.subtitle { margin-bottom: 50px; font-size: 56px; color: #292929; font-family: "unit_slab_offc_proregular", arial, sans-serif; line-height: 1.2; }
.subtitle.subtitle_small { font-size: 44px; }

.header { position: relative; height: 110px; margin-bottom: 30px; z-index: 2; }

.logo { padding-top: 30px; }
.logo a { position: relative; display: inline-block; padding-left: 75px; font-size: 26px; color: #292929; font-family: "unit_slab_offc_proregular", arial, sans-serif; text-decoration: none; }
.logo a:before { content: ""; position: absolute; top: -7px; left: 0px; background: url('../img/icons-sdd241cc2c4.png') 0 -1404px no-repeat; width: 51px; height: 51px; }
.laboratory-page .logo a:before { background: url('../img/icons-sdd241cc2c4.png') 0 -1282px no-repeat; width: 51px; height: 51px; }
.product-page .logo a:before { background: url('../img/icons-sdd241cc2c4.png') 0 -1343px no-repeat; width: 51px; height: 51px; }
.white-page .logo a { color: white; }
.white-page .logo a:before { background: url('../img/icons-sdd241cc2c4.png') 0 -1587px no-repeat; width: 51px; height: 51px; }
.contacts-page .logo a:before { background: url('../img/icons-sdd241cc2c4.png') 0 -1526px no-repeat; width: 51px; height: 51px; }
.history-page .logo a:before { background: url('../img/icons-sdd241cc2c4.png') 0 -1648px no-repeat; width: 51px; height: 51px; }
.vacancy-page .logo a:before { background: url('../img/icons-sdd241cc2c4.png') 0 -1465px no-repeat; width: 51px; height: 51px; }

.nav { text-align: right; }
.nav__list { padding-top: 39px; font-size: 0; }
.nav__link { display: inline-block; margin-left: 45px; font-size: 21px; }
.nav__link a { color: #292929; font-family: "unit_slab_offc_proregular", arial, sans-serif; text-decoration: none; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.nav__link a:hover { color: #8f8e8e; }
.nav__link a.is-active { color: #73d037; }
.laboratory-page .nav__link a.is-active { color: #00d1fe; }
.white-page .nav__link a { color: white; }
.contacts-page .nav__link a.is-active { color: #f14047; }
.history-page .nav__link a.is-active { color: #ebbe07; }

.footer { border-top: 1px solid #e6e6e6; padding-top: 24px; height: 65px; }

.copyrights { display: inline-block; vertical-align: middle; margin-right: 60px; color: #818181; font-size: 15px; }

.socials { display: inline-block; vertical-align: middle; }
.socials__list { font-size: 0; }
.socials__list li { display: inline-block; vertical-align: middle; margin-right: 16px; }
.socials__list li a { display: block; }

.tw { background: url('../img/icons-sdd241cc2c4.png') 0 -1929px no-repeat; width: 21px; height: 17px; }

.fb { background: url('../img/icons-sdd241cc2c4.png') 0 -91px no-repeat; width: 8px; height: 17px; }

.footer__menu { font-size: 0; text-align: right; }
.footer__menu li { display: inline-block; vertical-align: middle; margin-left: 28px; }
.footer__menu li a { font-size: 17px; color: #2b2b2b; text-decoration: none; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.footer__menu li a:hover { color: #666666; }

.bottom-push { height: 125px; }

.btn { display: inline-block; height: 57px; width: 253px; margin: 0 19px; background: #73d037; color: white; font-family: "UnitRegularRegular", arial, sans-serif; font-size: 18px; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; }
.btn:hover { background: #5cac28; }
.btn.btn_gray { background: #686969; }
.btn.btn_gray:hover { background: #4f4f4f; }
.btn.btn_blue { background: #00b3f4; }
.btn.btn_blue:hover { background: #008ec1; }
.btn.btn_orange { background: #ea5032; }
.btn.btn_orange:hover { background: #d33516; }
.btn.btn_yellow { background: #f5b510; }
.btn.btn_yellow:hover { background: #ca9408; }
.btn.btn_darkblue { background: #2e99ec; }
.btn.btn_darkblue:hover { background: #1380d4; }
.btn.btn_darkgray { background: #343434; }
.btn.btn_darkgray:hover { background: #1a1a1a; }
.btn.btn_big { width: 390px; height: 96px; }

.scroll-nav { position: absolute; top: 47px; right: 22px; z-index: 999; }
.scroll-nav__inner { text-align: right; }
.scroll-nav__inner.is-fixed { position: fixed; top: 47px; right: 22px; }
.scroll-nav__inner li a { position: relative; font-size: 0px; display: block; min-height: 18px; padding-right: 19px; color: #292929; text-decoration: none; text-shadow: 1px 1px 0 white; }
.scroll-nav__inner li a:before { content: ""; position: absolute; top: 6px; right: 2px; width: 6px; height: 6px; background: #292929; border-radius: 50%; box-shadow: 0 0 3px white; }
.scroll-nav__inner li a:hover { font-size: 13px; }
.scroll-nav__inner li a.is-active:before { top: 4px; right: 0; border: 2px solid #292929; background: transparent; }

.container { width: 1158px; margin: 0 auto; }

.row { *zoom: 1; margin-left: -18px; }
.row:after { content: " "; display: table; clear: both; }
.row.row_inline { font-size: 0; }
.row.row_inline .col3, .row.row_inline .col6 { float: none; display: inline-block; vertical-align: top; }

.col1 { float: left; width: 80px; margin-left: 18px; }

.col2 { float: left; width: 176px; margin-left: 18px; }

.col3 { float: left; width: 276px; margin-left: 18px; }

.col4 { float: left; width: 374px; margin-left: 18px; }

.col5 { float: left; width: 472px; margin-left: 18px; }

.col6 { float: left; width: 570px; margin-left: 18px; }

.col7 { float: left; width: 668px; margin-left: 18px; }

.col8 { float: left; width: 766px; margin-left: 18px; }

.col9 { float: left; width: 864px; margin-left: 18px; }

.col10 { float: left; width: 962px; margin-left: 18px; }

.col11 { float: left; width: 1060px; margin-left: 18px; }

.l-center { text-align: center; }

.slider { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.slider__item { position: relative; width: 100%; height: 600px; overflow: hidden; }
.slider__item img { min-width: 100%; height: 100%; }
.product-wrap .slider__item { text-align: center; }
.product-wrap .slider__item img { width: auto; max-width: 100%; min-width: 1px; }
.slider__text { position: absolute; bottom: 70px; left: 50%; margin-left: -579px; padding: 18px 24px; font-size: 27px; font-family: "unit_slab_offc_probold", arial, sans-serif; background: white; }
.slider__pager { height: 54px; line-height: 54px; text-align: center; }
.slider__pager span { display: inline-block; vertical-align: middle; width: 9px; height: 9px; margin: 0 5px; border-radius: 50%; font-size: 0; background: #c3c3c3; cursor: pointer; }
.slider__pager span.cycle-pager-active { background: #292929; }
.product-wrap .slider__pager { position: relative; top: -60px; z-index: 999; }
.product-wrap .slider__pager span { width: 13px; height: 13px; background: #8b8d8f; }
.product-wrap .slider__pager span.cycle-pager-active { background: white; }

.news .h1 { margin-bottom: 40px; }

.news__inner { margin-bottom: 60px; }

.news__item { display: block; text-decoration: none; color: #292929; margin-bottom: 70px; }
.news__item:hover .news__title, .news__item:hover .news__text { color: #73d037; }

.news__img { font-size: 0; margin-bottom: 24px; }
.news__img img { width: 100%; }

.news__title { margin-bottom: 8px; font-size: 24px; color: #292929; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; font-family: "unit_slab_offc_probold", arial, sans-serif; }
.row_inline .news__title { font-size: 30px; }

.date { font-size: 17px; color: #878787; }

.news__text { font-size: 16px; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }

.news__more { text-align: center; margin-bottom: 70px; }
.news__more a { font-size: 20px; text-decoration: none; color: #8dbb00; }

.menu { margin-bottom: 140px; }
.menu__list { *zoom: 1; }
.menu__list:after { content: " "; display: table; clear: both; }
.menu__item { float: left; width: 33.333%; }
.menu__link { position: relative; display: block; overflow: hidden; max-height: 800px; font-size: 0; background: black; }
.menu__link img { min-width: 100%; min-height: 100%; -moz-transition: opacity 200ms; -o-transition: opacity 200ms; -webkit-transition: opacity 200ms; transition: opacity 200ms; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.menu__link span { position: absolute; top: 50%; left: 0; right: 0; margin-top: -36px; text-align: center; font-size: 52px; font-family: "unit_slab_offc_probold", arial, sans-serif; color: white; z-index: 2; }
.menu__link.interships span { color: #1b1b1b; }
.menu__link:hover img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
.menu.menu_company .menu__item { width: 20%; }
.menu.menu_company .menu__link { max-height: 738px; }

.categories { margin-bottom: 50px; }
.categories__img { margin-bottom: 25px; font-size: 0; text-align: center; }
.categories__title { margin-bottom: 20px; font-family: "unit_slab_offc_probold", arial, sans-serif; font-size: 34px; line-height: 1.2; color: #292929; }
.categories__text { font-size: 18px; }

.about { height: 395px; margin-bottom: 50px; background: url(../img/about.jpg) 50% 0 no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.about__inner { padding-top: 80px; width: 768px; margin: 0 auto; color: white; font-size: 27px; }
.about.about_vacancy { margin-top: 75px; margin-bottom: 100px; background: url(../img/vacancy.jpg) 50% 0 no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.rd-text p { margin-bottom: 50px; font-family: "unit_slab_offc_proregular", arial, sans-serif; font-size: 40px; color: #292929; line-height: 1.2; }
.rd-text p b { font-family: "unit_slab_offc_probold", arial, sans-serif; }

.rd { position: relative; }
.rd .rd__item > div { overflow: hidden; }
.rd__dreams { position: relative; height: 100%; background: #ffd529; }
.rd__dreams .rd__title { color: #292929; }
.rd__restaurant { position: relative; height: 100%; background: #009539; }
.rd__fashion { position: relative; height: 100%; background: #ff014a; }
.rd__title { padding: 50px 0; font-size: 72px; font-family: "unit_slab_offc_probold", arial, sans-serif; line-height: 1; color: white; }
.rd__img { padding: 50px 0; text-align: center; vertical-align: middle; }
.rd__img:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.rd__img img { display: inline-block; vertical-align: middle; }

.products { position: relative; }
.products__inner { padding: 20px 0 90px; }
.products__title { margin-bottom: 15px; font-size: 67px; text-align: center; font-family: "unit_slab_offc_probold", arial, sans-serif; color: #292929; }
.products__subtitle { margin-bottom: 30px; font-size: 20px; text-align: center; }
.products__descr { width: 760px; margin: 0 auto 45px; font-size: 20px; line-height: 1.3; }
.products__descr p { margin-top: 25px; }
.products__descr p:first-child { margin-top: 0; }
.products__item .slider__item { text-align: center; max-height: 700px; vertical-align: middle; }
.products__item .slider__item img { width: auto; max-width: 100%; }
.products__item .slider__pager { position: relative; top: -54px; z-index: 999; }
.products__item .slider__pager span { width: 13px; height: 13px; background: rgba(41, 41, 41, 0.5); }
.products__item .slider__pager span.cycle-pager-active { background: white; }

.restaurant__img { position: relative; height: 558px; background: #e6e6e6 url(../img/restaurant.jpg) 50% 50% no-repeat; text-align: center; font-size: 0; }
.restaurant__point { position: absolute; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: opacity 300ms; -o-transition: opacity 300ms; -webkit-transition: opacity 300ms; transition: opacity 300ms; }
.restaurant__point:hover { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.restaurant__point img { cursor: pointer; }
.restaurant__point.wall { top: 121px; left: 50%; margin-left: 145px; z-index: 1; }
.restaurant__point.wall .hint { bottom: 80px; left: 30px; width: 185px; height: 22px; }
.restaurant__point.wall .hint.is-open { width: 390px; height: 106px; }
.restaurant__point.wall .hint.is-open .hint__text { height: 48px; }
.restaurant__point.wall .hint.is-open .hint__link { height: 16px; }
.restaurant__point.terminal { top: 176px; left: 50%; margin-left: 393px; z-index: 2; }
.restaurant__point.terminal .hint { bottom: 65px; left: -75px; width: 185px; height: 22px; }
.restaurant__point.terminal .hint.is-open { width: 220px; height: 106px; }
.restaurant__point.terminal .hint.is-open .hint__text { height: 48px; }
.restaurant__point.terminal .hint.is-open .hint__link { height: 16px; }
.restaurant__point.bar { top: 121px; left: 50%; margin-left: -190px; z-index: 1; }
.restaurant__point.bar .hint { bottom: 25px; left: 34px; width: 185px; height: 22px; }
.restaurant__point.bar .hint.is-open { width: 390px; height: 80px; }
.restaurant__point.bar .hint.is-open .hint__text { height: 33px; }
.restaurant__point.bar .hint.is-open .hint__link { height: 16px; }
.restaurant__point.pos-terminal { top: 185px; left: 50%; margin-left: 64px; z-index: 1; }
.restaurant__point.pos-terminal .hint { bottom: 54px; left: -87px; width: 185px; height: 22px; }
.restaurant__point.pos-terminal .hint.is-open { width: 390px; height: 80px; }
.restaurant__point.pos-terminal .hint.is-open .hint__text { height: 33px; }
.restaurant__point.pos-terminal .hint.is-open .hint__link { height: 16px; }
.restaurant__point.partition { top: -15px; left: 50%; margin-left: -601px; z-index: 2; }
.restaurant__point.partition .hint { bottom: 250px; left: 22px; width: 185px; height: 22px; }
.restaurant__point.partition .hint.is-open { width: 390px; height: 73px; }
.restaurant__point.partition .hint.is-open .hint__text { height: 32px; }
.restaurant__point.partition .hint.is-open .hint__link { height: 16px; }
.restaurant__point.table1 { top: 279px; left: 50%; margin-left: -183px; z-index: 2; }
.restaurant__point.table1 .hint { bottom: 60px; left: 22px; width: 185px; height: 22px; }
.restaurant__point.table1 .hint.is-open { width: 390px; height: 73px; }
.restaurant__point.table1 .hint.is-open .hint__text { height: 32px; }
.restaurant__point.table1 .hint.is-open .hint__link { height: 16px; }
.restaurant__point.table2 { top: 237px; left: 50%; margin-left: 134px; z-index: 2; }
.restaurant__point.table2 .hint { bottom: 40px; left: 22px; width: 185px; height: 22px; }
.restaurant__point.table2 .hint.is-open { width: 390px; height: 73px; }
.restaurant__point.table2 .hint.is-open .hint__text { height: 32px; }
.restaurant__point.table2 .hint.is-open .hint__link { height: 16px; }
.restaurant__point.table3 { top: 243px; left: 50%; margin-left: -587px; z-index: 2; }
.restaurant__point.table3 .hint { bottom: 40px; left: 22px; width: 185px; height: 22px; }
.restaurant__point.table3 .hint.is-open { width: 390px; height: 73px; }
.restaurant__point.table3 .hint.is-open .hint__text { height: 32px; }
.restaurant__point.table3 .hint.is-open .hint__link { height: 16px; }
.restaurant__point.floor1 { top: 328px; left: 50%; margin-left: -620px; z-index: 2; }
.restaurant__point.floor1 .hint { bottom: 97px; left: 125px; width: 185px; height: 22px; }
.restaurant__point.floor1 .hint.is-open { width: 390px; height: 73px; }
.restaurant__point.floor1 .hint.is-open .hint__text { height: 32px; }
.restaurant__point.floor1 .hint.is-open .hint__link { height: 16px; }
.restaurant__point.floor2 { top: 330px; left: 50%; margin-left: -24px; z-index: 2; }
.restaurant__point.floor2 .hint { bottom: 97px; left: 125px; width: 185px; height: 22px; }
.restaurant__point.floor2 .hint.is-open { width: 390px; height: 73px; }
.restaurant__point.floor2 .hint.is-open .hint__text { height: 32px; }
.restaurant__point.floor2 .hint.is-open .hint__link { height: 16px; }

.hint { position: absolute; font-size: 12px; color: white; padding: 7px 13px; text-align: left; background: black; -moz-transition: all 200ms; -o-transition: all 200ms; -webkit-transition: all 200ms; transition: all 200ms; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; }
.hint:before { content: ""; position: absolute; bottom: -8px; left: 112px; width: 0px; height: 0px; border-style: solid; border-width: 8px 6.5px 0 6.5px; border-color: black transparent transparent transparent; }
.hint__title { text-align: center; font-size: 14px; }
.hint__text { overflow: hidden; height: 0; margin-bottom: 5px; -moz-transition: all 200ms; -o-transition: all 200ms; -webkit-transition: all 200ms; transition: all 200ms; }
.hint__link { display: inline-block; overflow: hidden; height: 0; color: #45c3f3; text-decoration: none; -moz-transition: all 200ms; -o-transition: all 200ms; -webkit-transition: all 200ms; transition: all 200ms; }
.hint.is-open { cursor: default; }
.hint.is-open .hint__title { text-align: left; }

.kocloud__img { font-size: 0; background: #62d9ff; text-align: center; }
.kocloud__img img { max-width: 100%; }

.mcloud__img { position: relative; font-size: 0; max-height: 700px; overflow: hidden; background: #00bcf2; text-align: center; }
.mcloud__img img { width: 100%; }

@-moz-keyframes anim1 { 0%, 100% { -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  20% { -moz-transform: translate(10px, 5px); -ms-transform: translate(10px, 5px); -webkit-transform: translate(10px, 5px); transform: translate(10px, 5px); }
  40% { -moz-transform: translate(15px, 10px); -ms-transform: translate(15px, 10px); -webkit-transform: translate(15px, 10px); transform: translate(15px, 10px); }
  60% { -moz-transform: translate(10px, 15px); -ms-transform: translate(10px, 15px); -webkit-transform: translate(10px, 15px); transform: translate(10px, 15px); }
  80% { -moz-transform: translate(5px, 10px); -ms-transform: translate(5px, 10px); -webkit-transform: translate(5px, 10px); transform: translate(5px, 10px); } }
@-webkit-keyframes anim1 { 0%, 100% { -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  20% { -moz-transform: translate(10px, 5px); -ms-transform: translate(10px, 5px); -webkit-transform: translate(10px, 5px); transform: translate(10px, 5px); }
  40% { -moz-transform: translate(15px, 10px); -ms-transform: translate(15px, 10px); -webkit-transform: translate(15px, 10px); transform: translate(15px, 10px); }
  60% { -moz-transform: translate(10px, 15px); -ms-transform: translate(10px, 15px); -webkit-transform: translate(10px, 15px); transform: translate(10px, 15px); }
  80% { -moz-transform: translate(5px, 10px); -ms-transform: translate(5px, 10px); -webkit-transform: translate(5px, 10px); transform: translate(5px, 10px); } }
@-o-keyframes anim1 { 0%, 100% { -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  20% { -moz-transform: translate(10px, 5px); -ms-transform: translate(10px, 5px); -webkit-transform: translate(10px, 5px); transform: translate(10px, 5px); }
  40% { -moz-transform: translate(15px, 10px); -ms-transform: translate(15px, 10px); -webkit-transform: translate(15px, 10px); transform: translate(15px, 10px); }
  60% { -moz-transform: translate(10px, 15px); -ms-transform: translate(10px, 15px); -webkit-transform: translate(10px, 15px); transform: translate(10px, 15px); }
  80% { -moz-transform: translate(5px, 10px); -ms-transform: translate(5px, 10px); -webkit-transform: translate(5px, 10px); transform: translate(5px, 10px); } }
@-ms-keyframes anim1 { 0%, 100% { -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  20% { -moz-transform: translate(10px, 5px); -ms-transform: translate(10px, 5px); -webkit-transform: translate(10px, 5px); transform: translate(10px, 5px); }
  40% { -moz-transform: translate(15px, 10px); -ms-transform: translate(15px, 10px); -webkit-transform: translate(15px, 10px); transform: translate(15px, 10px); }
  60% { -moz-transform: translate(10px, 15px); -ms-transform: translate(10px, 15px); -webkit-transform: translate(10px, 15px); transform: translate(10px, 15px); }
  80% { -moz-transform: translate(5px, 10px); -ms-transform: translate(5px, 10px); -webkit-transform: translate(5px, 10px); transform: translate(5px, 10px); } }
@keyframes anim1 { 0%, 100% { -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  20% { -moz-transform: translate(10px, 5px); -ms-transform: translate(10px, 5px); -webkit-transform: translate(10px, 5px); transform: translate(10px, 5px); }
  40% { -moz-transform: translate(15px, 10px); -ms-transform: translate(15px, 10px); -webkit-transform: translate(15px, 10px); transform: translate(15px, 10px); }
  60% { -moz-transform: translate(10px, 15px); -ms-transform: translate(10px, 15px); -webkit-transform: translate(10px, 15px); transform: translate(10px, 15px); }
  80% { -moz-transform: translate(5px, 10px); -ms-transform: translate(5px, 10px); -webkit-transform: translate(5px, 10px); transform: translate(5px, 10px); } }
@-moz-keyframes anim2 { 0%, 100% { -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  20% { -moz-transform: translate(-10px, -5px); -ms-transform: translate(-10px, -5px); -webkit-transform: translate(-10px, -5px); transform: translate(-10px, -5px); }
  40% { -moz-transform: translate(-15px, -10px); -ms-transform: translate(-15px, -10px); -webkit-transform: translate(-15px, -10px); transform: translate(-15px, -10px); }
  60% { -moz-transform: translate(-10px, -15px); -ms-transform: translate(-10px, -15px); -webkit-transform: translate(-10px, -15px); transform: translate(-10px, -15px); }
  80% { -moz-transform: translate(-5px, -10px); -ms-transform: translate(-5px, -10px); -webkit-transform: translate(-5px, -10px); transform: translate(-5px, -10px); } }
@-webkit-keyframes anim2 { 0%, 100% { -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  20% { -moz-transform: translate(-10px, -5px); -ms-transform: translate(-10px, -5px); -webkit-transform: translate(-10px, -5px); transform: translate(-10px, -5px); }
  40% { -moz-transform: translate(-15px, -10px); -ms-transform: translate(-15px, -10px); -webkit-transform: translate(-15px, -10px); transform: translate(-15px, -10px); }
  60% { -moz-transform: translate(-10px, -15px); -ms-transform: translate(-10px, -15px); -webkit-transform: translate(-10px, -15px); transform: translate(-10px, -15px); }
  80% { -moz-transform: translate(-5px, -10px); -ms-transform: translate(-5px, -10px); -webkit-transform: translate(-5px, -10px); transform: translate(-5px, -10px); } }
@-o-keyframes anim2 { 0%, 100% { -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  20% { -moz-transform: translate(-10px, -5px); -ms-transform: translate(-10px, -5px); -webkit-transform: translate(-10px, -5px); transform: translate(-10px, -5px); }
  40% { -moz-transform: translate(-15px, -10px); -ms-transform: translate(-15px, -10px); -webkit-transform: translate(-15px, -10px); transform: translate(-15px, -10px); }
  60% { -moz-transform: translate(-10px, -15px); -ms-transform: translate(-10px, -15px); -webkit-transform: translate(-10px, -15px); transform: translate(-10px, -15px); }
  80% { -moz-transform: translate(-5px, -10px); -ms-transform: translate(-5px, -10px); -webkit-transform: translate(-5px, -10px); transform: translate(-5px, -10px); } }
@-ms-keyframes anim2 { 0%, 100% { -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  20% { -moz-transform: translate(-10px, -5px); -ms-transform: translate(-10px, -5px); -webkit-transform: translate(-10px, -5px); transform: translate(-10px, -5px); }
  40% { -moz-transform: translate(-15px, -10px); -ms-transform: translate(-15px, -10px); -webkit-transform: translate(-15px, -10px); transform: translate(-15px, -10px); }
  60% { -moz-transform: translate(-10px, -15px); -ms-transform: translate(-10px, -15px); -webkit-transform: translate(-10px, -15px); transform: translate(-10px, -15px); }
  80% { -moz-transform: translate(-5px, -10px); -ms-transform: translate(-5px, -10px); -webkit-transform: translate(-5px, -10px); transform: translate(-5px, -10px); } }
@keyframes anim2 { 0%, 100% { -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  20% { -moz-transform: translate(-10px, -5px); -ms-transform: translate(-10px, -5px); -webkit-transform: translate(-10px, -5px); transform: translate(-10px, -5px); }
  40% { -moz-transform: translate(-15px, -10px); -ms-transform: translate(-15px, -10px); -webkit-transform: translate(-15px, -10px); transform: translate(-15px, -10px); }
  60% { -moz-transform: translate(-10px, -15px); -ms-transform: translate(-10px, -15px); -webkit-transform: translate(-10px, -15px); transform: translate(-10px, -15px); }
  80% { -moz-transform: translate(-5px, -10px); -ms-transform: translate(-5px, -10px); -webkit-transform: translate(-5px, -10px); transform: translate(-5px, -10px); } }
.parallax { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.parallax__layer1 { position: absolute; top: 5% !important; left: 0 !important; right: 0 !important; z-index: 2; -webkit-animation: anim1 10s infinite linear; -moz-animation: anim1 10s infinite linear; -ms-animation: anim1 10s infinite linear; -o-animation: anim1 10s infinite linear; animation: anim1 10s infinite linear; }
.parallax__layer1 img { width: auto; min-width: 100%; }
.parallax__layer2 { position: absolute; top: 5% !important; left: 0 !important; right: 0 !important; -webkit-animation: anim2 15s infinite linear; -moz-animation: anim2 15s infinite linear; -ms-animation: anim2 15s infinite linear; -o-animation: anim2 15s infinite linear; animation: anim2 15s infinite linear; }
.parallax__layer2 img { width: auto; min-width: 100%; }

.avimir .slider__item { background: #ea5032; height: 700px; }
.avimir .slider__item:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.avimir .slider__item img { display: inline-block; vertical-align: middle; height: auto; min-width: 1px; }

.kolight__img { font-size: 0; background: #ffcb27; text-align: center; }
.kolight__img img { max-width: 100%; }

.idbm .slider__item { position: relative; height: 700px; background: #edf1f6; padding-top: 145px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.idbm .slider__item img { min-width: 1px; }
.idbm__text { position: absolute; top: 75px; left: 50%; margin-left: -400px; width: 410px; font-size: 28px; text-align: left; }

.bookpro .slider__item { background: #cdf000; height: 700px; }
.bookpro .slider__item img { min-width: 1px; }
.bookpro .slider__item img { display: inline-block; max-width: 100%; vertical-align: middle; }

.bussinesspro { height: 584px; overflow: hidden; }
.bussinesspro .slider__item { background: #333741; }
.bussinesspro .slider__item img { min-width: 1px; }

.portal .slider__item { background: #5ac6ff; height: 700px; }
.portal .slider__item:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.portal .slider__item img { display: inline-block; vertical-align: middle; min-width: 1px; height: auto; }

.medicalpro .slider__item, .prodoffice .slider__item, .doll .slider__item { height: 700px; background: #7aebff; font-size: 0; }
.medicalpro .slider__item:before, .prodoffice .slider__item:before, .doll .slider__item:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.medicalpro .slider__item img, .prodoffice .slider__item img, .doll .slider__item img { display: inline-block; vertical-align: middle; min-width: 1px; height: auto; }

.master-test__img { font-size: 0; }
.master-test__img img { width: 100%; }

.pseudo-weber__img { padding-top: 50px; background: #f2f1ef; text-align: center; font-size: 0; }

.prodoffice .slider__item { background: #f0f3e9; }
.prodoffice .slider__item img { height: auto; }

.doll .slider__item { background: #f56e97; }

.witboard__img { font-size: 0; background: #40d2ff; height: 700px; text-align: center; }
.witboard__img:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.witboard__img img { max-width: 100%; display: inline-block; vertical-align: middle; }

.koditouch__img { background: #f0f2f4; font-size: 0; }
.koditouch__img img { width: 100%; }

.agelma .slider__item { background: #ffd101; height: 700px; text-align: center; font-size: 0; }
.agelma .slider__item:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.agelma .slider__item img { display: inline-block; vertical-align: middle; min-width: 1px; height: auto; }

.lesexpress .slider__item { background: url(../img/pict9.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; height: 700px; }
.lesexpress .slider__item:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.lesexpress .slider__item img { display: inline-block; vertical-align: middle; height: auto; min-width: 1px; }

.tsm__img { font-size: 0; }
.tsm__img img { width: 100%; }

.inthouse__img { position: relative; height: 700px; background: #ffd101 url(../img/img33.png) 50% 50% no-repeat; }
.inthouse__icons { position: absolute; top: 0; bottom: 0; left: 50%; width: 850px; margin-left: -425px; }
.inthouse__icons.is-animated .inthouse__icon { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.inthouse__icon { position: absolute; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: opacity 1000ms; -o-transition: opacity 1000ms; -webkit-transition: opacity 1000ms; transition: opacity 1000ms; }

.inthouse1 { background: url('../img/icons-sdd241cc2c4.png') 0 -384px no-repeat; width: 146px; height: 146px; }

.inthouse2 { background: url('../img/icons-sdd241cc2c4.png') 0 -540px no-repeat; width: 160px; height: 160px; }

.inthouse3 { background: url('../img/icons-sdd241cc2c4.png') 0 -710px no-repeat; width: 120px; height: 120px; }

.inthouse4 { background: url('../img/icons-sdd241cc2c4.png') 0 -840px no-repeat; width: 153px; height: 153px; }

.inthouse5 { background: url('../img/icons-sdd241cc2c4.png') 0 -1003px no-repeat; width: 118px; height: 118px; }

.inthouse6 { background: url('../img/icons-sdd241cc2c4.png') 0 -1131px no-repeat; width: 141px; height: 141px; }

.inthouse1 { top: 157px; left: -17px; }

.inthouse2 { top: 30px; left: 210px; -moz-transition-delay: 200ms; -o-transition-delay: 200ms; -webkit-transition-delay: 200ms; transition-delay: 200ms; }

.inthouse3 { top: 30px; right: 100px; -moz-transition-delay: 400ms; -o-transition-delay: 400ms; -webkit-transition-delay: 400ms; transition-delay: 400ms; }

.inthouse4 { top: 217px; right: -47px; -moz-transition-delay: 600ms; -o-transition-delay: 600ms; -webkit-transition-delay: 600ms; transition-delay: 600ms; }

.inthouse5 { bottom: 148px; right: 105px; -moz-transition-delay: 800ms; -o-transition-delay: 800ms; -webkit-transition-delay: 800ms; transition-delay: 800ms; }

.inthouse6 { bottom: 65px; left: 328px; -moz-transition-delay: 1s; -o-transition-delay: 1s; -webkit-transition-delay: 1s; transition-delay: 1s; }

.watchdog__img { height: 700px; background: #b42142; text-align: center; }
.watchdog__terminal { position: relative; display: inline-block; height: 100%; width: 750px; background: url(../img/terminal.png) 100% 100% no-repeat; }
.watchdog__pict { position: absolute; top: 50%; left: 40%; width: 418px; height: 418px; background: url(../img/terminal2.png) 0 0 no-repeat; -moz-transform: scale(0.2); -ms-transform: scale(0.2); -webkit-transform: scale(0.2); transform: scale(0.2); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: all 500ms; -o-transition: all 500ms; -webkit-transition: all 500ms; transition: all 500ms; }
.watchdog.is-animated .watchdog__pict { -moz-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; -moz-transform: translate(-200px, -200px); -ms-transform: translate(-200px, -200px); -webkit-transform: translate(-200px, -200px); transform: translate(-200px, -200px); }

.tower-clocks__img { font-size: 0; }
.tower-clocks__img img { width: 100%; }

.cnc .slider__item { height: 700px; background: #a2efef; }
.cnc .slider__item:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.cnc .slider__item img { display: inline-block; vertical-align: middle; height: auto; min-width: 1px; }

.led__img, .basepro__img { height: 700px; background: black; font-size: 0; text-align: center; }
.led__img:before, .basepro__img:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.led__img img, .basepro__img img { display: inline-block; vertical-align: middle; max-width: 100%; }

.basepro__img { background: #ffd101; }

.products-nav { padding-top: 10px; }
.products-nav li { margin-bottom: 15px; }
.products-nav a { font-size: 14px; color: #292929; text-decoration: none; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.products-nav a:hover { color: #1dbeff; }

.product-wrap { position: relative; top: -140px; z-index: 1; }
.product-wrap .kolight__img { max-height: 690px; overflow: hidden; }
.product-wrap .slider__item { height: 690px; max-height: 690px; }
.product-wrap .products__title { font-size: 96px; }

.product { padding: 20px 0 0; }
.product__title { font-size: 96px; font-family: "unit_slab_offc_probold", arial, sans-serif; text-align: center; }
.product__subtitle { font-size: 26px; text-align: center; margin-bottom: 30px; }
.product__descr { width: 100%; font-size: 21px; width: 760px; margin: 0 auto 45px; line-height: 1.3; }
.product__descr p { margin-bottom: 30px; }
.product__descr.leading p { font-size: 24px; }
.product__img { padding: 50px 0 20px; font-size: 0; text-align: center; max-width: 100%; }

.device { border-top: 2px solid #f3f3f3; padding-top: 40px; }
.device__img { margin-bottom: 50px; text-align: center; font-size: 0; }
.device__img img { max-width: 100%; }
.device__software { *zoom: 1; }
.device__software:after { content: " "; display: table; clear: both; }
.device__software img { float: left; margin-right: 40px; }
.device__software ul { float: left; padding-top: 40px; }
.device__software ul li { margin-bottom: 10px; }

.options-list { margin-bottom: 50px; }

.option__name { border-top: 3px solid #00cbeb; padding-top: 20px; font-size: 26px; font-family: "unit_slab_offc_probold", arial, sans-serif; color: black; }
.option__content { *zoom: 1; position: relative; padding: 30px 0 50px; border-top: 1px solid #d9d9d9; }
.option__content:after { content: " "; display: table; clear: both; }
.option__content:before { content: ""; position: absolute; top: -1px; left: -18px; width: 18px; height: 1px; background: #d9d9d9; }
.option__list li { margin-bottom: 20px; font-size: 16px; }
.option span { color: #999999; }

.dimensions { width: 350px; float: left; }
.dimensions td { height: 30px; }

.connection { text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.connection:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
.connection__item { display: inline-block; line-height: normal; vertical-align: top; font-size: 16px; }
.connection__item i { display: block; margin-bottom: 35px; }
.connection__item i.icon-wifi { background: url('../img/icons-sdd241cc2c4.png') 0 -2141px no-repeat; width: 79px; height: 55px; }
.connection__item i.icon-gprs { background: url('../img/icons-sdd241cc2c4.png') 0 -316px no-repeat; width: 59px; height: 58px; }
.connection__item i.icon-ethernet { background: url('../img/icons-sdd241cc2c4.png') 0 -30px no-repeat; width: 52px; height: 51px; }
.connection__item i.icon-ftp { background: url('../img/icons-sdd241cc2c4.png') 0 -258px no-repeat; width: 49px; height: 48px; }
.connection__item i.icon-usb { background: url('../img/icons-sdd241cc2c4.png') 0 -2096px no-repeat; width: 73px; height: 35px; }
.connection__item p { text-align: center; }

.icon-mute { display: inline-block; vertical-align: middle; background: url('../img/icons-sdd241cc2c4.png') 0 -1709px no-repeat; width: 59px; height: 62px; }

.eff-radius { font-size: 0; }
.eff-radius__item { display: inline-block; vertical-align: middle; margin-left: 35px; }
.eff-radius__item:first-child { margin-left: 0; }
.eff-radius__left { display: inline-block; vertical-align: middle; font-size: 0; margin-right: 10px; }
.eff-radius__right { display: inline-block; vertical-align: middle; font-size: 16px; }

.sert-list { *zoom: 1; }
.sert-list:after { content: " "; display: table; clear: both; }
.sert-list li { float: left; margin-right: 18px; font-size: 0; }
.sert-list li i { display: inline-block; }

.icon-sert1 { background: url('../img/icons-sdd241cc2c4.png') 0 -1781px no-repeat; width: 65px; height: 64px; }

.icon-sert2 { background: url('../img/icons-sdd241cc2c4.png') 0 -1855px no-repeat; width: 64px; height: 64px; }

.software { padding-top: 60px; background: #00cbeb; }
.software .slider-wrap { margin-bottom: 70px; }
.software .slider__item { text-align: center; }
.software .slider__item img { width: auto; max-width: 100%; min-width: 1px; }
.software .slider__pager span { background: white; }
.software .slider__pager span.cycle-pager-active { background: black; }
.software__options { position: relative; font-size: 0; margin-left: -18px; }
.software__options:before { content: ""; position: absolute; top: 0; left: 18px; bottom: 0; width: 2px; background: #00cbeb; z-index: 2; }
.software__item { position: relative; display: inline-block; vertical-align: top; width: 176px; margin-left: 18px; text-align: center; padding: 0 50px; margin-bottom: 100px; font-size: 13px; text-transform: uppercase; color: white; }
.software__item:before { content: ""; position: absolute; top: 0; left: 0; height: 122px; width: 2px; background: #a3ecf8; }
.software__item img { display: inline-block; margin-bottom: 20px; }

.order { padding-top: 75px; }
.order__img { text-align: center; font-size: 0; height: 372px; }
.order_kolight .order__img { height: 210px; }
.order__img img { max-height: 100%; max-width: 100%; }
.order__title { text-align: center; font-size: 26px; font-family: "unit_slab_offc_probold", arial, sans-serif; margin-bottom: 25px; }
.order_kolight .order__title { font-size: 30px; text-align: left; }
.order__text { min-height: 230px; padding-bottom: 40px; font-size: 18px; }
.order_kolight .order__text { font-size: 24px; min-height: 280px; }
.order__bottom .btn { width: 100%; height: 97px; margin: 0; font-size: 24px; }

.gallery .cycle-pager { text-align: center; padding-top: 40px; font-size: 0; }
.gallery .cycle-pager > div { display: inline-block; vertical-align: top; margin: 0 9px; width: 80px; font-size: 12px; cursor: pointer; }
.gallery .cycle-pager > div img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.gallery .cycle-pager > div p { text-align: center; padding: 0 10px; }
.gallery .cycle-pager > div.cycle-pager-active img { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.gallery__slide { position: relative; }
.gallery__text { position: absolute; top: 35px; left: 45px; width: 400px; font-size: 24px; text-align: left; }
.gallery__title { font-size: 32px; font-family: "unit_slab_offc_probold", arial, sans-serif; }

.capabilities { padding-top: 30px; border-top: 2px solid #f2f2f2; border-bottom: 2px solid #f2f2f2; margin-bottom: 90px; }
.capabilities .title { margin-bottom: 50px; }
.capabilities__list { position: relative; font-size: 0; margin-left: -18px; }
.capabilities__list:before { content: ""; position: absolute; top: 0; left: 0; right: 0; height: 3px; background: white; z-index: 2; }
.capabilities__item { display: inline-block; vertical-align: top; width: 374px; padding-top: 30px; margin-left: 18px; margin-bottom: 60px; vertical-align: top; border-top: 3px solid #ffcb28; }
.capabilities__img { height: 260px; text-align: center; font-size: 0; margin-bottom: 20px; vertical-align: middle; }
.capabilities__img:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.capabilities__img img { display: inline-block; vertical-align: middle; }
.capabilities__title { font-size: 28px; font-family: "unit_slab_offc_probold", arial, sans-serif; margin-bottom: 15px; }
.capabilities__text { font-size: 14px; line-height: 1.6; }

.article__topper { margin-bottom: 20px; background: #ffd101; height: 630px; text-align: center; vertical-align: middle; font-size: 0; }
.article__topper:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.article__topper img { display: inline-block; vertical-align: middle; }
.article.article_wideimg .article__topper { height: 517px; overflow: hidden; }
.article.article_wideimg .article__topper:before { display: none; }
.article.article_wideimg .article__topper img { display: block; min-width: 100%; height: 100%; }
.article__content { width: 800px; margin: 0 auto 60px; }
.article__content p { margin-bottom: 40px; font-size: 26px; }
.article__title { text-align: center; font-size: 64px; line-height: 1.2; font-family: "unit_slab_offc_probold", arial, sans-serif; margin-bottom: 40px; }
.article .date { text-align: center; }
.article__share { text-align: center; font-size: 0; }
.article__share li { display: inline-block; margin: 0 22px; }

.twitter { display: block; background: url('../img/icons-sdd241cc2c4.png') 0 -2026px no-repeat; width: 60px; height: 60px; }
.twitter:hover { background: url('../img/icons-sdd241cc2c4.png') 0 -1956px no-repeat; width: 60px; height: 60px; }

.facebook { display: block; background: url('../img/icons-sdd241cc2c4.png') 0 -188px no-repeat; width: 60px; height: 60px; }
.facebook:hover { background: url('../img/icons-sdd241cc2c4.png') 0 -118px no-repeat; width: 60px; height: 60px; }

.contacts { position: relative; }
.contacts__popup { position: absolute; top: 80px; left: 50%; margin-left: -580px; width: 295px; padding: 40px; background: white; z-index: 2; }
.contacts__inner { font-size: 26px; }
.contacts__inner a { color: #fe1922; text-decoration: none; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.contacts__inner a:hover { color: #e3010a; }

.map { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.history { height: 795px; background: #ffd529; }
.history__inner { height: 100%; background: url(../img/error.png) 90% 100% no-repeat; }
.history__inner .btn { width: 205px; font-size: 14px; margin: 0; }
.history__title { margin-bottom: 50px; padding-top: 120px; font-size: 96px; line-height: 1; font-family: "unit_slab_offc_probold", arial, sans-serif; }

.people { font-size: 0; margin-bottom: 85px; }
.people__item { display: inline-block; vertical-align: top; width: 16.666%; font-size: 0; background: #f02e39; }
.people__item img { width: 100%; height: 100%; }

.occupation { padding: 30px; color: white; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 33px; font-family: "unit_slab_offc_proregular", arial, sans-serif; }

.vacancy__item { display: block; margin-bottom: 65px; text-decoration: none; }
.vacancy__item:hover .vacancy__title { color: #73d037; }
.vacancy__img { margin-bottom: 20px; font-size: 0; }
.vacancy__title { font-size: 28px; color: #292929; font-family: "unit_slab_offc_probold", arial, sans-serif; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
