// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none

+font(UnitRegularRegular, unitregular)  
=ur
	font-family: "UnitRegularRegular",arial,sans-serif
	
+font(unit_slab_offc_proregular, unit_slab_offc_pro-webfont)  
=us
	font-family: "unit_slab_offc_proregular",arial,sans-serif
	
+font(unit_slab_offc_probold, unit_slab_offc_pro_bold-webfont)  	
=usb
	font-family: "unit_slab_offc_probold",arial,sans-serif	 	 
// vars
$dark: #292929
$green: #73d037
$blue: #1dbeff
	
//67pt, 78pt, 96pt.
// this is shit, just so somebody will read that.
.fs67
	font-size: 67px !important
.fs78
	font-size: 78px !important
.fs96
	font-size: 96px !important
.fs66
	font-size: 66px !important
.fs18
	font-size: 18px !important
	line-height: 26px !important
.fs21
	font-size: 21px !important
	line-height: 28px !important
.fs16
	font-size: 16px !important
	line-height: 26px !important
body
	min-width: 1158px
	font-size: 16px 
	+ur 
	line-height: 1.4
	+font-smoothing
	color: #292929

=justify
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		display: inline-block
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
=justify-child
	display: inline-block
	line-height: normal
	vertical-align: top
	font-size: 16px
.out
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -90px
	&.index-page
		*
			&::selection
				color: #fff
				background: #81c200
	&.laboratory-page
		*
			&::selection
				color: #fff
				background: #00d1fe
	&.product-page
		*
			&::selection
				color: #fff
				background: #292929
	&.product-page
		*
			&::selection
				color: #fff
				background: #292929
	&.contacts-page	
		*
			&::selection
				color: #fff
				background: #f14047
	&.history-page	
		*
			&::selection
				color: #fff
				background: #ebbe07
	&.vacancy-page	
		*
			&::selection
				color: #fff
				background: #73d037																		 
.push
	height: 90px

// titles
.h1, .h2
	margin-bottom: 15px
	font-size: 60px
	+usb
	color: $dark
.h2
	font-size: 42px	
.title
	margin-bottom: 100px
	font-size: 64px
	+us
	text-align: center
	&.title_white
		color: #fff
	.product-page &
		margin-bottom: 36px 
.subtitle
	margin-bottom: 67px
	font-size: 56px
	color: $dark
	+us
	line-height: 1.2
	&.subtitle_small
		font-size: 44px  
//header
.header
	position: relative
	height: 110px
	margin-bottom: 30px
	z-index: 2
	&.header_nomargin
		margin-bottom: 0 
.logo
	padding-top: 30px 
	a
		position: relative
		display: inline-block
		padding-left: 75px
		font-size: 26px
		color: $dark
		+us
		text-decoration: none
		&:before
			content: ""
			position: absolute
			top: -7px
			left: 0px
			+s(logo-lightgreen)
		.laboratory-page &
			&:before
				+s(logo-blue)
		.product-page &
			&:before
				+s(logo-dark)
		.white-page &
			color: #fff
			&:before
				+s(logo-white)
		.contacts-page &
			&:before
				+s(logo-red)
		.history-page &
			&:before
				+s(logo-yellow)
		.vacancy-page &
			&:before
				+s(logo-lightgreen)											
.nav
	text-align: right
	&__list
		padding-top: 39px
		font-size: 0
	&__link
		display: inline-block
		margin-left: 45px  
		font-size: 21px
		a
			color: $dark
			color: #595959 
			color: #292929 
			+us
			text-decoration: none
			+tr(color 200ms)
			&:hover
				color: #8f8e8e
			&.is-active
				color: $green
			.laboratory-page &
				&.is-active
					color: #00d1fe
			.product-page &
				&.is-active
			.white-page &
				color: #fff
			.contacts-page &
				&.is-active
					color: #f14047
			.history-page &
				&.is-active
					color: #ebbe07	
	&.nav_gray
		.nav__link
			a
				&.is-active
					color: #8f8e8e 
							

// footer
.footer
	border-top: 1px solid #e6e6e6
	padding-top: 24px
	height: 65px
.copyrights
	display: inline-block
	vertical-align: middle
	margin-right: 60px 
	color: #818181
	font-size: 15px
.socials
	display: inline-block
	vertical-align: middle	 		 
	&__list
		font-size: 0
		li
			display: inline-block
			vertical-align: middle
			margin-right: 16px 
			a
				display: block
.tw
	+s(tw)
.fb
	+s(fb)
.footer__menu 
	font-size: 0 
	text-align: right
	li
		display: inline-block
		vertical-align: middle
		margin-left: 28px 
		a
			font-size: 17px
			color: #2b2b2b
			text-decoration: none
			+tr(color 200ms)	
			&:hover
				color: #666
				
.bottom-push
	height: 125px				
// btn
// *
// 	outline: 1px dotted red
.btn
	display: inline-block
	height: 57px
	width: 253px
	margin: 0 19px 
	background: $green
	color: #fff
	+ur
	font-size: 16px
	+tr(background 200ms)
	&:hover
		background: darken($green, 10%)  					
	&.btn_gray
		background: #686969
		&:hover 					
			background: darken(#686969, 10%)
	&.btn_blue
		background: #00b3f4
		&:hover 					
			background: darken(#00b3f4, 10%)
	&.btn_orange
		background: #ea5032
		&:hover
			background: darken(#ea5032, 10%)
	&.btn_yellow
		background: #f5b510
		&:hover
			background: darken(#f5b510, 10%)
	&.btn_darkblue
		background: #2e99ec
		&:hover
			background: darken(#2e99ec, 10%)
	&.btn_darkgray
		background: #343434
		&:hover
			background: darken(#343434, 10%) 		 						
	&.btn_big
		width: 390px
		height: 96px
		
// scroll nav
.scroll-nav
	position: absolute
	top: 47px
	right: 22px
	z-index: 999
	
	&.js-scroll-rd
		//padding-top: 409px
		.scroll-nav__inner
			+transition(top .2s linear)
			opacity: 0 
			&.is-fixed
				top: 45% 
				opacity: 1 
	&__inner
		text-align: right
		&.is-fixed
			position: fixed
			top: 47px
			right: 22px
			//top: 50vh
		li
			a
				position: relative
				font-size: 0px
				display: block
				min-height: 18px
				padding-right: 19px
				color: $dark
				color: #595959 
				text-decoration: none
				//text-shadow: 1px 1px 0 #fff
				&:before
					content: ""
					position: absolute
					top: 6px
					right: 2px
					width: 6px
					height: 6px
					background: $dark
					background: #595959 
					border-radius: 50%
					//box-shadow: 0 0 3px #fff
				&:hover
					font-size: 13px	  
				&.is-active
					//font-size: 13px
					&:before
						top: 4px
						right: 0
						border: 2px solid $dark
						border: 2px solid #595959
						background: transparent		 		 			
	

      
