// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none

+font(UnitRegularRegular, unitregular)  
=ur
	font-family: "UnitRegularRegular",arial,sans-serif
	
+font(unit_slab_offc_proregular, unit_slab_offc_pro-webfont)  
=us
	font-family: "unit_slab_offc_proregular",arial,sans-serif
	
+font(unit_slab_offc_probold, unit_slab_offc_pro_bold-webfont)  	
=usb
	font-family: "unit_slab_offc_probold",arial,sans-serif	 	 
// vars
$dark: #292929
$green: #73d037
	
body
	min-width: 1158px
	font-size: 16px 
	+ur 
	line-height: 1.4
	+font-smoothing
	color: #292929

=justify
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		display: inline-block
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
=justify-child
	display: inline-block
	line-height: normal
	vertical-align: top
	font-size: 16px
.out
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -90px
.push
	height: 90px
// titles
.h1
	margin-bottom: 15px
	font-size: 60px
	+usb
	color: $dark	
.subtitle
	margin-bottom: 50px
	font-size: 56px
	color: $dark
	+us
	line-height: 1.2  
//header
.header
	height: 110px
.logo
	padding-top: 29px 
	a
		position: relative
		display: inline-block
		padding-left: 75px
		font-size: 26px
		color: #000
		+usb
		text-decoration: none
		&:before
			content: ""
			position: absolute
			top: -7px
			left: 0px
			+s(logo-green)
		.laboratory-page &
			&:before
				+s(logo-blue)	
.nav
	text-align: right
	&__list
		padding-top: 39px
		font-size: 0
	&__link
		display: inline-block
		margin-left: 45px  
		font-size: 21px
		a
			color: $dark
			+us
			text-decoration: none
			+tr(color 200ms)
			&:hover
				color: #666
			&.is-active
				color: $green
			.laboratory-page &
				&.is-active
					color: #00d1fe

// footer
.footer
	border-top: 1px solid #e6e6e6
	padding-top: 24px
	height: 65px
.copyrights
	display: inline-block
	vertical-align: middle
	margin-right: 60px 
	color: #818181
	font-size: 15px
.socials
	display: inline-block
	vertical-align: middle	 		 
	&__list
		font-size: 0
		li
			display: inline-block
			vertical-align: middle
			margin-right: 16px 
			a
				display: block
.tw
	+s(tw)
.fb
	+s(fb)
.footer__menu 
	font-size: 0 
	text-align: right
	li
		display: inline-block
		vertical-align: middle
		margin-left: 28px 
		a
			font-size: 17px
			color: #2b2b2b
			text-decoration: none
			+tr(color 200ms)	
			&:hover
				color: #666
				
.bottom-push
	height: 125px				
// btn
.btn
	display: inline-block
	height: 57px
	width: 253px
	margin: 0 19px 
	background: $green
	color: #fff
	+ur
	font-size: 18px
	+tr(background 200ms)
	&:hover
		background: darken($green, 10%)  					
	&.btn_gray
		background: #686969
		&:hover 					
			background: darken(#686969, 10%)
	&.btn_blue
		background: #00b3f4
		&:hover 					
			background: darken(#00b3f4, 10%)
	&.btn_orange
		background: #ea5032
		&:hover
			background: darken(#ea5032, 10%)
	&.btn_yellow
		background: #f5b510
		&:hover
			background: darken(#f5b510, 10%)				
	&.btn_big
		width: 390px
		height: 96px
		
// scroll nav
.scroll-nav
	position: absolute
	top: 47px
	right: 22px
	z-index: 999
	&__inner
		text-align: right
		&.is-fixed
			position: fixed
			top: 47px
			right: 22px
		li
			a
				position: relative
				font-size: 0px
				display: block
				min-height: 18px
				padding-right: 19px
				color: $dark
				text-decoration: none
				&:before
					content: ""
					position: absolute
					top: 6px
					right: 2px
					width: 6px
					height: 6px
					background: $dark
					border-radius: 50%  
				&.is-active
					font-size: 13px
					&:before
						top: 4px
						right: 0
						border: 2px solid $dark
						background: transparent		 		 			
	

      
