// index page

// slider
.slider
	+nosel
	&__item
		position: relative
		width: 100% 
		height: 600px
		overflow: hidden
		img
			min-width: 100%
			height: 100%
		.product-wrap &
			text-align: center
			img
				width: auto
				max-width: 100%
				min-width: 1px 
	&__text		
		position: absolute
		bottom: 70px
		bottom: 44px 
		left: 50%
		margin-left: -579px
		padding: 18px 24px
		font-size: 27px
		font-size: 24px 
		+usb
		background: #fff
		text-align: left
	&__pager
		height: 54px
		line-height: 54px
		text-align: center
		span
			display: inline-block
			vertical-align: middle
			width: 9px
			height: 9px
			margin: 0 5px 
			border-radius: 50%
			font-size: 0
			background: #c3c3c3
			cursor: pointer
			&.cycle-pager-active
				background: $dark
		.product-wrap &
			position: relative
			top: -60px
			z-index: 999
			span
				width: 13px
				height: 13px
				background: #8b8d8f
				&.cycle-pager-active
					background: #fff   		

// m-news
.news
	.h1
		margin-bottom: 40px
.news__inner
	margin-bottom: 60px
.news__item 
	display: block
	text-decoration: none
	color: $dark
	margin-bottom: 70px
	
	&:hover
		.news__title
			color: #73d037	
	a
		text-decoration: none
		color: $dark
		&:hover 
			.news__title
				color: #73d037
.news__img
	font-size: 0
	margin-bottom: 19px 
	img
		width: 100% 
.news__title
	margin-bottom: 8px
	font-size: 24px 
	color: $dark
	line-height: 1.2
	+tr(color 200ms)
	+usb
	.row_inline &
		font-size: 30px
.date
	font-size: 17px
	color: #878787	
	margin-bottom: 6px 
.news__text
	font-size: 18px
	+tr(color 200ms)	
	line-height: 23px 
	.news_small &
		font-size: 16px 
		line-height: 20px 
.news__more 
	text-align: center
	margin-bottom: 70px
	a
		font-size: 20px
		text-decoration: none
		color: #8dbb00
 
// laboratory
.menu
	margin-bottom: 140px
	margin-bottom: 40px 
	background: #000 
	&__list
		+clr
	&__item
		float: left
		width: 33.333% 
	&__link
		position: relative
		display: block
		overflow: hidden
		max-height: 800px
		font-size: 0
		background: transparent
		+background-size(cover)
		img,&>div
			min-width: 100%
			min-height: 100%
			+transition(opacity 200ms)
			+gpu

		span
			position: absolute
			top: 50%
			left: 0
			right: 0
			margin-top: -36px
			text-align: center
			font-size: 52px
			+usb
			color: #fff
			z-index: 2
		&.interships
			span
				color: #1b1b1b
		&:hover
			img,div
				+opacity(.7)
	&.menu_company
		margin-bottom: 40px 
		margin-bottom: 0 !important 
		.menu__item
			width: 20%
		.menu__link	
			max-height: 738px	
	&.menu_lab
		margin-bottom: 0 !important 		
.categories
	margin-bottom: 50px
	&__img
		margin-bottom: 25px
		font-size: 0
		text-align: center						  			 
	&__title
		margin-bottom: 20px
		+usb
		font-size: 34px
		line-height: 1.2
		color: $dark	
	&__text
		font-size: 18px
.about
	height: 395px
	margin-bottom: 50px
	background: url(../img/about.jpg) 50% 0 no-repeat
	+cover
	&__inner
		padding-top: 80px
		width: 768px
		margin: 0 auto
		color: #fff
		font-size: 27px
		line-height: 1.2 
	&.about_vacancy
		margin-top: 75px
		margin-bottom: 100px
		background: url(../img/vacancy.jpg) 50% 0 no-repeat
		+cover	
		
// r&d
.rd-text
	p
		margin-bottom: 50px
		+us
		font-size: 40px
		color: $dark
		line-height: 1.2
		b
			+usb
.rd	
	position: relative 
	.rd__item>div
		overflow: hidden  			
	&__dreams
		position: relative
		height: 100%
		background: #ffd529
		background-position: 50% 50%
		background-repeat: no-repeat 
		.rd__title
			color: $dark
	&__restaurant
		position: relative
		height: 100%
		background: #009539
		background-position: 50% 80% 
		background-repeat: no-repeat 
	&__fashion
		position: relative
		height: 100%
		background: #ff014a
		background-position: 50% 50%
		background-repeat: no-repeat 
	&__title
		padding: 50px 0 
		font-size: 72px
		+usb
		line-height: 1
		color: #fff
	&__img		  	  
		padding: 50px 0 
		text-align: center
		vertical-align: middle
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			display: inline-block
			vertical-align: middle 
.products
	position: relative
	&__inner
		padding: 20px 0 90px  
	&__title
		margin-bottom: 15px
		font-size: 67px
		text-align: center
		+usb
		color: $dark
	&__subtitle
		margin-bottom: 30px 
		font-size: 20px
		text-align: center
	&__descr
		width: 760px
		margin: 0 auto 45px
		font-size: 20px
		line-height: 1.3
		p
			margin-top: 25px
			&:first-child
				margin-top: 0	
	.products__item_hidden
		overflow: hidden
	&__item

		.slider__item
			text-align: center
			max-height: 700px
			vertical-align: middle 
			img
				width: auto
				max-width: 100%
		.slider__pager
			position: relative
			top: -54px
			z-index: 999
			span
				width: 13px
				height: 13px
				background: rgba(#292929, .5)
				&.cycle-pager-active
					background: #fff			 	
		 			
//restaurant
.restaurant
	// height: 700px 
	// background: #E6E6E6 
	&__img
		position: relative
		height: 558px 
		height: 700px 
		
		background: #e6e6e6 url(../img/restaurant1.jpg) 50% 0 no-repeat
		background-color: #E4E5E9 
		text-align: center
		top: 100% 
		font-size: 0
	&__point
		position: absolute
		+opacity(0)
		+transition(opacity 300ms)
		&:hover
			+opacity(1)
		img
			cursor: pointer	
		&.wall
			top: 121px + 73px
			left: 50%
			margin-left: 145px
			z-index: 1
			.hint
				bottom: 80px
				left: 30px
				width: 185px
				height: 22px
				width: 110px 
				&.is-open
					width: 390px
					height: 106px
					.hint__text
						height: 48px 	
					.hint__link
						height: 16px
		&.terminal
			top: 176px + 73px
			left: 50%
			margin-left: 393px - 3px 
			z-index: 2
			.hint
				bottom: 65px
				left: -75px + 70px
				width: 185px
				height: 22px
				width: 110px 
				&.is-open
					width: 220px
					height: 106px
					.hint__text
						height: 48px 	
					.hint__link
						height: 16px
		&.bar 
			top: 121px + 73px
			left: 50%
			margin-left: -190px 
			z-index: 1
			.hint
				bottom: 25px
				left: 34px + 30px
				width: 185px
				height: 22px
				width: 110px 
				&.is-open
					width: 390px
					height: 80px
					.hint__text
						height: 33px 	
					.hint__link
						height: 16px
		&.pos-terminal
			top: 185px + 73px
			left: 50%
			margin-left: 64px 
			z-index: 1
			.hint
				bottom: 54px
				left: -87px + 40px
				width: 185px
				height: 22px
				width: 110px 
				&.is-open
					width: 390px
					height: 80px
					.hint__text
						height: 33px 	
					.hint__link
						height: 16px
		&.partition
			top: -15px + 73px
			left: 50%
			margin-left: -601px 
			z-index: 2
			.hint
				bottom: 250px
				left: 22px + 30px
				width: 185px
				height: 22px
				width: 120px 
				&.is-open
					width: 390px
					height: 73px
					.hint__text
						height: 32px 	
					.hint__link
						height: 16px
		&.table1
			top: 279px + 73px
			left: 50%
			margin-left: -183px 
			z-index: 2
			.hint
				bottom: 60px
				left: 22px + 36px
				width: 185px
				height: 22px
				width: 110px 
				
				&.is-open
					width: 390px
					height: 73px
					.hint__text
						height: 32px 	
					.hint__link
						height: 16px
		&.table2
			top: 237px + 73px
			left: 50%
			margin-left: 134px 
			z-index: 2
			.hint
				bottom: 40px
				left: 22px +35px
				width: 185px
				height: 22px
				width: 120px 
				&.is-open
					width: 390px
					height: 73px
					.hint__text
						height: 32px 	
					.hint__link
						height: 16px
		&.table3
			top: 243px + 73px
			left: 50%
			margin-left: -587px 
			z-index: 2
			.hint
				bottom: 40px
				left: 22px + 35px
				width: 185px
				height: 22px
				width: 120px 
				&.is-open
					width: 390px
					height: 73px
					.hint__text
						height: 32px 	
					.hint__link
						height: 16px
		&.floor1
			top: 328px + 73px
			left: 50%
			margin-left: -620px 
			z-index: 2
			img
				position: relative
				top: 83px 
				left: -15px 
			.hint
				bottom: 97px
				left: 125px + 30px
				width: 185px
				height: 22px
				width: 120px 
				&.is-open
					width: 390px
					height: 73px
					.hint__text
						height: 32px 	
					.hint__link
						height: 16px
		&.floor2
			top: 330px + 73px
			left: 50%
			margin-left: -24px 
			z-index: 2
			img
				position: relative
				top: -3px 
				left: 31px 
			.hint
				bottom: 97px
				left: 125px + 35px
				width: 185px
				height: 22px
				width: 120px 
				
				&.is-open
					width: 390px
					height: 73px
					.hint__text
						height: 32px 	
					.hint__link
						height: 16px																												 			 			  			 
.hint
	position: absolute	 
	font-size: 13px
	color: #fff
	padding: 7px 13px
	padding: 5px 13px 3px 13px
	text-align: left 
	background: #000
	+transition(all 200ms)
	+nosel
	cursor: pointer
	&:before
		content: ""
		position: absolute
		bottom: -8px
		left: 50%
		margin-left: -4px 
		+arr(13, 8, #000, b)
	&__title
		text-align: center
		font-size: 14px
	&__text
		overflow: hidden
		height: 0
		margin-bottom: 5px
		+transition(all 200ms) 	
	&__link
		display: inline-block
		overflow: hidden
		height: 0
		color: #45c3f3
		text-decoration: none
		+transition(all 200ms)
	&.is-open
		cursor: default
		.hint__title
			text-align: left 			
			 
.kocloud
	&__img
		font-size: 0
		background: #62d9ff
		text-align: center
		img
			max-width: 100%
.mcloud
	height: 700px 
	background: #20BDF1 url(../img/mcloud.jpg) no-repeat 50% 0
	overflow: hidden
	&__img
		position: relative
		font-size: 0
		height: 700px 
		overflow: hidden
		//background: #00bcf2
		text-align: center
		position: relative
		top: 40px 
		img
			//width: 100%
+keyframes(anim1)
	0%, 100%
		+transform(translate(0px, 0px))
	20%
		+transform(translate(10px, 5px))
	40%
		+transform(translate(15px, 10px))
	60%
		+transform(translate(10px, 15px))
	80%
		+transform(translate(5px, 10px))
+keyframes(anim2)
	0%, 100%
		+transform(translate(0px, 0px))
	20%
		+transform(translate(-10px, -5px))
	40%
		+transform(translate(-15px, -10px))
	60%
		+transform(translate(-10px, -15px))
	80%
		+transform(translate(-5px, -10px))       			
.parallax
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	&__layer1
		position: absolute
		top: 5%!important
		left: 0!important
		right: 0!important
		z-index: 2
		+animation(anim1 10s infinite linear)
		img
			width: auto
			//min-width: 100%
	&__layer2
		position: absolute
		top: 5%!important
		left: 0!important
		right: 0!important
		+animation(anim2 15s infinite linear)
		img
			width: auto
			//min-width: 100%			
.avimir
	height: 700px 
	overflow: hidden
	background: #EA5032 
	.slider__item
		background: #ea5032
		height: 700px
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
			display: none
		img
			display: inline-block
			vertical-align: middle
			height: auto
			min-width: 1px 
.kolight
	&__img
		font-size: 0
		background: #ffcb27
		text-align: center
		img
			max-width: 100%
			
.idbm
	height: 700px 
	overflow: hidden
	background: #EDF1F6 
	.slider__item
		position: relative
		height: 700px 
		background: #edf1f6
		padding-top: 145px
		+box
		img
			min-width: 1px 
			height: auto 
	&__text
		position: absolute
		top: 75px
		left: 50%
		margin-left: -400px
		width: 410px
		font-size: 28px
		text-align: left
.bookpro
	background: #CDF000 
	height: 700px 
	overflow: hidden
	.slider__item
		background: #cdf000
		height: 700px
		img
			min-width: 1px 
			height: auto 
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			display: inline-block
			max-width: 100% 
			vertical-align: middle
.bussinesspro
	height: 700px 
	overflow: hidden
	background: #333740 
	.slider__item
		background: #333741
		height: 700px 
		img
			min-width: 1px 
			height: auto 
.portal
	background: #5EC8FF 
	height: 700px 
	overflow: hidden
	.slider__item
		background: #5ac6ff
		height: 700px
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			display: inline-block
			vertical-align: middle
			min-width: 1px 
			height: auto
.medicalpro
	background: #7AEBFF 
	height: 700px 
	overflow: hidden
.medicalpro, .prodoffice, .doll
	.slider__item
		height: 700px
		background: #7aebff
		font-size: 0
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			display: inline-block
			vertical-align: middle
			min-width: 1px 
			height: auto 
.master-test
	height: 700px 
	&__img
		font-size: 0
		height: 700px 
		img
			width: 100%
.pseudo-weber
	&__img	
		padding-top: 50px
		background: #f2f1ef
		text-align: center
		font-size: 0
.prodoffice
	background: #F0F3E9
	height: 700px  
	.slider__item
		background: #f0f3e9 
		img
			height: auto 		 		
.doll
	height: 700px 		 						 			 		 			 		
	overflow: hidden
	background: #f56e97
	.slider__item
		background: #f56e97
.witboard
	&__img
		font-size: 0
		background: #40d2ff
		height: 700px 
		text-align: center 
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			max-width: 100%
			display: inline-block
			vertical-align: middle
.koditouch
	&__img
		background: #f0f2f4
		font-size: 0
		img
			width: 100%
.agelma
	background: #FFD101
	height: 700px  
	overflow: hidden
	.slider__item
		background: #ffd101 
		height: 700px
		text-align: center
		font-size: 0
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
			display: none
		img
			display: inline-block
			vertical-align: middle
			min-width: 1px 
			height: auto 
.lesexpress
	background: #B4895F url(../img/pict9.jpg) no-repeat 50% 0
	.slider
		height: 700px 
		overflow: hidden
	.slider__item
		//background: url(../img/pict9.jpg)
		+cover
		height: 700px
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			display: inline-block
			vertical-align: middle
			height: auto
			min-width: 1px 
.tsm
	&__img
		font-size: 0
		img
			width: 100%			
.inthouse
	height: 700px 
	overflow: hidden
	background: #ffd101 
	&__img
		position: relative
		height: 670px
		background: #ffd101 url(../img/img33.png) 50% 50% no-repeat
		top: 30px 
	&__icons
		position: absolute
		top: 0
		bottom: 0
		left: 50%
		width: 850px
		margin-left: -425px
		&.is-animated
			.inthouse__icon
				+opacity(1)  	
	&__icon
		position: absolute
		+opacity(0)
		+transition(opacity 1000ms)	  
@for $i from 1 through 6
	.inthouse#{$i}
		+s(icon#{$i})
.inthouse1
	top: 157px
	left: -17px
.inthouse2
	top: 30px
	left: 210px
	+transition-delay(200ms)	
.inthouse3
	top: 30px
	right: 100px
	+transition-delay(400ms)
.inthouse4
	top: 217px
	right: -47px
	+transition-delay(600ms)
.inthouse5
	bottom: 148px
	right: 105px
	+transition-delay(800ms)
.inthouse6
	bottom: 65px
	left: 328px
	+transition-delay(1s)
.watchdog
	&__img
		height: 700px
		background: #b42142
		text-align: center
	&__terminal
		position: relative
		display: inline-block
		height: 100% 
		width: 750px
		background: url(../img/terminal.png) 100% 100% no-repeat
	&__pict
		position: absolute
		top: 50%
		left: 40%
		width: 418px
		height: 418px
		background: url(../img/terminal2.png) 0 0 no-repeat
		+transform(scale(.2))
		+opacity(0)
		+transition(all 500ms)
	&.is-animated
		.watchdog__pict
			+transform(scale(1))
			+opacity(1)
			+transform(translate(-200px, -200px))
.tower-clocks

	&__img
		font-size: 0
		img
			width: 100%
.cnc	
	background: #a2efef 
	.slider
		overflow: hidden
		height: 700px 		 			
	.slider__item
		height: 700px
		background: #a2efef
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			display: inline-block
			vertical-align: middle
			height: auto 
			min-width: 1px 
.led, .basepro
	&__img
		height: 700px
		background: #000
		font-size: 0
		text-align: center
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
.basepro						 			  
	&__img
		background: #ffd101

.products-nav
	padding-top: 10px
	padding-bottom: 40px 
	li
		margin-bottom: 12px
	a
		font-size: 14px
		color: $dark
		text-decoration: none
		+transition(color 200ms)
		&:hover
			color: $blue
.product-wrap
	position: relative
	top: -140px
	z-index: 1
	.kolight__img
		max-height: 700px
		overflow: hidden
	.slider__item
		height: 700px
		max-height: 700px
	.products__title
		font-size: 96px	 	
.product
	padding: 20px 0 0
	&__title
		font-size: 96px
		+usb
		text-align: center
		margin-bottom: 25px 
		line-height: 1.1 
	&__subtitle
		font-size: 26px
		text-align: center
		margin-bottom: 30px
	&__descr
		width: 100% 
		font-size: 21px
		width: 760px
		margin: 0 auto 45px
		line-height: 1.3
		p
			margin-bottom: 30px
		&.leading
			p
				font-size: 24px	
	&__img
		padding: 50px 0 20px
		font-size: 0
		text-align: center
		max-width: 100% 	
			 
	
// device
.device
	border-top: 2px solid #f3f3f3
	padding-top: 40px
	margin-bottom: 60px 
	&__img
		margin-bottom: 50px
		text-align: center
		font-size: 0
		img
			max-width: 100%
	&__software
		+clr
		img
			float: left
			margin-right: 40px
		ul
			float: left
			padding-top: 40px
			li
				margin-bottom: 10px			
.options-list
	margin-bottom: 50px
.option	 
	&__name
		border-top: 3px solid #00cbeb
		padding-top: 20px
		font-size: 26px
		+usb
		color: #000 
	&__content
		+clr
		position: relative
		padding: 30px 0 50px
		border-top: 1px solid #d9d9d9
		&:before
			content: ""
			position: absolute
			top: -1px
			left: -18px
			width: 18px
			height: 1px
			background: #d9d9d9
	&__list
		li
			margin-bottom: 20px
			font-size: 16px
	span
		color: #999
						 		
.dimensions
	width: 350px
	float: left
	td
		height: 30px
.connection
	+justify
	&__item
		+justify-child
		i
			display: block
			margin-bottom: 35px 
			&.icon-wifi
				+s(wifi)
			&.icon-gprs
				+s(gprs)
			&.icon-ethernet
				+s(ethernet)
			&.icon-ftp
				+s(ftp)
			&.icon-usb
				+s(usb)				
		p
			text-align: center
.icon-mute
	display: inline-block
	vertical-align: middle
	+s(mute)
.eff-radius
	font-size: 0
	&__item
		display: inline-block
		vertical-align: middle
		margin-left: 35px
		&:first-child
			margin-left: 0
	&__left
		display: inline-block
		vertical-align: middle
		font-size: 0
		margin-right: 10px
	&__right
		display: inline-block
		vertical-align: middle
		font-size: 16px
.sert-list
	+clr
	li
		float: left
		margin-right: 18px
		font-size: 0
		i
			display: inline-block
.icon-sert1
	+s(sert1)
.icon-sert2
	+s(sert2)

// software
.software
	padding-top: 60px
	background: #00cbeb
	.slider-wrap
		margin-bottom: 70px 
	.slider__item
		text-align: center
		img
			width: auto  					
			max-width: 100%
			min-width: 1px
			height: auto 
	.slider__pager
		span
			background: #fff
			&.cycle-pager-active
				background: #000 		
	&__options
		position: relative 
		font-size: 0
		margin-left: -18px
		&:before
			content: ""
			position: absolute
			top: 0
			left: 18px
			bottom: 0
			width: 2px
			background: #00cbeb
			z-index: 2 
	&__item
		position: relative
		display: inline-block
		vertical-align: top
		width: 176px
		margin-left: 18px 
		text-align: center
		padding: 0 50px
		margin-bottom: 100px
		font-size: 13px
		text-transform: uppercase  
		color: #fff
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			height: 122px
			width: 2px
			background: #a3ecf8  
		img
			display: inline-block
			margin-bottom: 20px
.order
	padding-top: 75px
	&__img
		text-align: center
		font-size: 0
		height: 372px
		.order_kolight &
			height: 210px 
		img
			max-height: 100%
			max-width: 100%
	&__title
		text-align: center
		font-size: 26px
		+usb 				
		margin-bottom: 25px
		.order_kolight &
			font-size: 30px
			text-align: left
	&__text
		min-height: 230px
		padding-bottom: 40px
		font-size: 18px
		.order_kolight &
			font-size: 24px
			min-height: 280px
	&__bottom
		.btn
			width: 100%
			height: 97px
			margin: 0
			font-size: 24px
.gallery
	.cycle-pager
		text-align: center
		padding-top: 40px
		font-size: 0
		& > div
			display: inline-block
			vertical-align: top
			margin: 0 9px
			width: 80px
			font-size: 12px 
			cursor: pointer 
			img
				+opacity(.5)
			p
				text-align: center
				padding: 0 10px 	
			&.cycle-pager-active
				img
					+opacity(1)
	&__slide
		position: relative		
	&__text
		position: absolute
		top: 35px
		left: 45px
		width: 400px
		font-size: 24px
		text-align: left
	&__title
		font-size: 32px  								
		+usb

// capabilities
.capabilities
	padding-top: 30px
	border-top: 2px solid #f2f2f2
	border-bottom: 2px solid #f2f2f2
	margin-bottom: 90px
	.title
		margin-bottom: 50px 			   
	&__list
		position: relative
		font-size: 0
		margin-left: -18px
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			height: 3px
			background: #fff
			z-index: 2 
	&__item
		display: inline-block
		vertical-align: top
		width: 374px
		padding-top: 30px
		margin-left: 18px
		margin-bottom: 60px  
		vertical-align: top
		border-top: 3px solid #ffcb28
	&__img
		height: 260px 
		text-align: center
		font-size: 0
		margin-bottom: 20px
		vertical-align: middle
		&:before
			content: ""
			display: inline-block
			vertical-align: middle
			width: 0
			height: 100%  
		img
			display: inline-block
			vertical-align: middle
	&__title
		font-size: 28px
		+usb
		margin-bottom: 15px
	&__text
		font-size: 14px
		line-height: 1.6
		
// article
.article
	&__topper
		margin-bottom: 20px
		background: #ffd101
		height: 630px
		text-align: center
		vertical-align: middle
		font-size: 0
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			display: inline-block
			vertical-align: middle
	&.article_wideimg
		.article__topper
			height: 517px
			overflow: hidden
			&:before
				display: none 
			img
				display: block
				min-width: 100%
				
				height: 100%  		 
	&__content
		width: 800px
		margin: 0 auto 60px
		p
			margin-bottom: 40px
			font-size: 26px   		
	&__title
		text-align: center
		font-size: 64px
		line-height: 1.2
		+usb
		margin-bottom: 40px
	.date
		text-align: center
	&__share
		text-align: center
		font-size: 0
		li
			display: inline-block
			margin: 0 22px 		 			  		  			 	
.twitter
	display: block
	+s(tw2)
	&:hover
		+s(tw2-h)
.facebook
	display: block
	+s(fb2)
	&:hover
		+s(fb2-h)

// contacts
.contacts
	position: relative					
	&__popup
		position: absolute
		top: 80px
		left: 50%
		margin-left: -580px
		width: 295px
		padding: 40px 
		background: #fff
		z-index: 2
	&__inner
		font-size: 26px
		a
			color: #fe1922
			text-decoration: none
			+transition(color 200ms)
			&:hover
				color: darken(#fe1922, 10%)	  
.map
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
.history
	height: 795px
	background: #ffd529 
	&__inner
		height: 100% 
		background: url(../img/error.png) 90% 100% no-repeat
		.btn
			width: 205px 
			font-size: 14px
			margin: 0  
	&__title
		margin-bottom: 50px
		padding-top: 120px
		font-size: 96px
		line-height: 1
		+usb

// people
.people		
	font-size: 0
	margin-bottom: 85px
	&__item
		display: inline-block
		vertical-align: top
		width: 16.666% 
		font-size: 0
		background: #f02e39 
		img
			width: 100%
			height: 100%
.occupation
	padding: 30px
	color: #fff
	+box
	font-size: 33px
	line-height: 1 
	+us

// vacancy
.vacancy 
	&__item
		display: block
		margin-bottom: 65px
		text-decoration: none
		&:hover
			.vacancy__title
				color: $green 
	&__img
		margin-bottom: 13px
		font-size: 0
	&__title
		font-size: 28px
		color: $dark
		+usb
		+transition(color 200ms)
		 	

			 
			 							  				 						 			 			 	 							 		  													  		    			 	