// index page

// slider
.slider
	&__item
		position: relative
		width: 100% 
		max-height: 595px
		overflow: hidden
		img
			width: 100%
		.product-wrap &
			text-align: center
			img
				width: auto
				max-width: 100% 
	&__text		
		position: absolute
		bottom: 44px
		left: 50%
		margin-left: -579px
		padding: 18px 24px
		font-size: 27px
		+usb
		background: #fff
	&__pager
		height: 54px
		line-height: 54px
		text-align: center
		span
			display: inline-block
			vertical-align: middle
			width: 9px
			height: 9px
			margin: 0 5px 
			border-radius: 50%
			font-size: 0
			background: #c3c3c3
			cursor: pointer
			&.cycle-pager-active
				background: $dark

// m-news
.news
	.h1
		margin-bottom: 40px
.news__inner
	margin-bottom: 30px
.news__item 
	display: block
	text-decoration: none
	color: $dark
	margin-bottom: 70px
	&:hover
		.news__title
			color: #73d037
.news__img
	font-size: 0
	margin-bottom: 24px 
	img
		width: 100% 
.news__title
	margin-bottom: 15px
	font-size: 24px 
	color: $dark
	+tr(color 200ms)
	+usb
.news__text
	font-size: 18px	
.news__more 
	text-align: center
	margin-bottom: 70px
	a
		font-size: 20px
		text-decoration: none
		color: #8dbb00
 
// laboratory
.menu
	margin-bottom: 140px
	&__list
		+clr
	&__item
		float: left
		width: 33.333% 
	&__link
		position: relative
		display: block
		overflow: hidden
		max-height: 800px
		font-size: 0
		img
			width: 100%
			height: 100%
		span
			position: absolute
			top: 50%
			left: 0
			right: 0
			margin-top: -36px
			text-align: center
			font-size: 52px
			+usb
			color: #fff
			z-index: 2
		&.interships
			span
				color: #1b1b1b
.internships
	margin-bottom: 50px
	&__img
		margin-bottom: 25px
		font-size: 0
		text-align: center						  			 
	&__title
		margin-bottom: 25px
		+usb
		font-size: 38px
		color: $dark	
	&__text
		font-size: 18px
.about
	height: 395px
	margin-bottom: 50px
	background: url(../img/about.jpg) 50% 0 no-repeat
	+cover
	&__inner
		padding-top: 80px
		width: 768px
		margin: 0 auto
		color: #fff
		font-size: 27px
		
// r&d
.rd-text
	p
		margin-bottom: 50px
		+us
		font-size: 40px
		color: $dark
		line-height: 1.2
		b
			+usb
.rd	
	position: relative   			
	&__dreams
		position: relative
		height: 100%
		background: #ffd529
		.rd__title
			color: $dark
	&__restaurant
		position: relative
		height: 100%
		background: #009539
	&__fashion
		position: relative
		height: 100%
		background: #ff014a
	&__title
		padding: 50px 0 
		font-size: 72px
		+usb
		line-height: 1
		color: #fff
	&__img		  	  
		padding: 50px 0 
		text-align: center
		vertical-align: middle
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			display: inline-block
			vertical-align: middle
			
.products
	position: relative
	&__inner
		padding: 20px 0 90px  
	&__title
		margin-bottom: 15px
		font-size: 67px
		text-align: center
		+usb
		color: $dark
	&__subtitle
		margin-bottom: 30px 
		font-size: 20px
		text-align: center
	&__descr
		width: 760px
		margin: 0 auto 45px
		font-size: 20px
		line-height: 1.3
		p
			margin-top: 25px
			&:first-child
				margin-top: 0
	&__item
		.slider__item
			text-align: center
			//height: 700px
			max-height: 700px
			vertical-align: middle 
			img
				width: auto
				max-width: 100%
		.slider__pager
			position: relative
			top: -54px
			z-index: 999
			span
				width: 13px
				height: 13px
				background: rgba(#292929, .5)
				&.cycle-pager-active
					background: #fff			 	
		 			
//restaurant
.restaurant
	&__img
		position: relative
		background: #e6e6e6 url(../img/restaurant.jpg) 50% 50%
		text-align: center
		font-size: 0
		img
			max-width: 100%
.kocloud
	&__img
		font-size: 0
		background: #62d9ff
		text-align: center
		img
			max-width: 100%
.mcloud
	&__img
		font-size: 0
		background: #00bcf2
		text-align: center
		img
			width: 100%
.avimir
	.slider__item
		background: #ea5032
		height: 700px
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			display: inline-block
			vertical-align: middle
.kolight
	&__img
		font-size: 0
		background: #ffcb27
		text-align: center
		img
			max-width: 100%
.idbm
	.slider__item
		position: relative
		height: 700px 
		background: #edf1f6
		padding-top: 145px
		+box
	&__text
		position: absolute
		top: 75px
		left: 50%
		margin-left: -400px
		width: 410px
		font-size: 28px
		text-align: left
.bookpro
	.slider__item
		background: #cdf000
		height: 700px
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			display: inline-block
			max-width: 100% 
			vertical-align: middle
.bussinesspro
	.slider__item
		background: #333741
.portal
	.slider__item
		background: #5ac6ff
		height: 700px
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			display: inline-block
			vertical-align: middle
.medicalpro, .prodoffice, .doll
	.slider__item
		height: 700px
		background: #7aebff
		font-size: 0
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			display: inline-block
			vertical-align: middle
.master-test
	&__img
		font-size: 0
		img
			width: 100%
.pseudo-weber
	&__img	
		padding-top: 50px
		background: #f2f1ef
		text-align: center
		font-size: 0
.prodoffice
	.slider__item
		background: #f0f3e9 		 		
.doll		 						 			 		 			 		
	.slider__item
		background: #f56e97
.witboard
	&__img
		font-size: 0
		background: #40d2ff
		height: 700px 
		text-align: center 
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			max-width: 100%
			display: inline-block
			vertical-align: middle
.koditouch
	&__img
		background: #f0f2f4
		font-size: 0
		img
			width: 100%
.agelma
	.slider__item
		background: #ffd101 
		height: 700px
		text-align: center
		font-size: 0
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			display: inline-block
			vertical-align: middle
.lesexpress
	.slider__item
		background: url(../img/pict9.jpg)
		+cover
		height: 700px
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			display: inline-block
			vertical-align: middle
.tsm
	&__img
		font-size: 0
		img
			width: 100%			
.inthouse
	&__img
		position: relative
		height: 700px
		background: #ffd101 url(../img/img33.png) 50% 50% no-repeat
	&__icons
		position: absolute
		top: 0
		bottom: 0
		left: 50%
		width: 850px
		margin-left: -425px
		&.is-animated
			.inthouse__icon
				+opacity(1)  	
	&__icon
		position: absolute
		+opacity(0)
		+transition(opacity 1000ms)	  
@for $i from 1 through 6
	.inthouse#{$i}
		+s(icon#{$i})
.inthouse1
	top: 157px
	left: -17px
.inthouse2
	top: 30px
	left: 210px
	+transition-delay(200ms)	
.inthouse3
	top: 30px
	right: 100px
	+transition-delay(400ms)
.inthouse4
	top: 217px
	right: -47px
	+transition-delay(600ms)
.inthouse5
	bottom: 148px
	right: 105px
	+transition-delay(800ms)
.inthouse6
	bottom: 65px
	left: 328px
	+transition-delay(1s)
.watchdog
	&__img
		height: 700px
		background: #b42142
		text-align: center
	&__terminal
		position: relative
		display: inline-block
		height: 100% 
		width: 750px
		background: url(../img/terminal.png) 100% 100% no-repeat
	&__pict
		position: absolute
		top: 50%
		left: 40%
		width: 418px
		height: 418px
		background: url(../img/terminal2.png) 0 0 no-repeat
		+transform(scale(.2))
		+opacity(0)
		+transition(all 500ms)
	&.is-animated
		.watchdog__pict
			+transform(scale(1))
			+opacity(1)
			+transform(translate(-200px, -200px))
.tower-clocks
	&__img
		font-size: 0
		img
			width: 100%
.cnc			 			
	.slider__item
		height: 700px
		background: #a2efef
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			display: inline-block
			vertical-align: middle
.led, .basepro
	&__img
		height: 700px
		background: #000
		font-size: 0
		text-align: center
		&:before
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
.basepro						 			  
	&__img
		background: #ffd101

.products-nav
	padding-top: 10px
	li
		margin-bottom: 15px
	a
		font-size: 14px
		color: $dark
		text-decoration: none
		+transition(color 200ms)
		&:hover
			color: $blue
.product-wrap
	position: relative
	top: -109px
	z-index: 1
.product
	padding: 20px 0 0
	&__title
		font-size: 96px
		+usb
		text-align: center
	&__subtitle
		font-size: 26px
		text-align: center
		margin-bottom: 30px
	&__descr
		width: 100% 
		font-size: 21px
		width: 760px
		margin: 0 auto 45px
		line-height: 1.3
		p
			margin-bottom: 30px
	&__img
		padding: 50px 0 20px
		font-size: 0
		text-align: center
		max-width: 100% 	
			 
	
// device
.device
	border-top: 2px solid #f3f3f3
	padding-top: 40px
	&__img
		margin-bottom: 50px
		text-align: center
		font-size: 0
		img
			max-width: 100%
	&__software
		+clr
		img
			float: left
			margin-right: 40px
		ul
			float: left
			padding-top: 40px
			li
				margin-bottom: 10px			
.options-list
	margin-bottom: 50px
.option	 
	&__name
		border-top: 3px solid #00cbeb
		padding-top: 20px
		font-size: 26px
		+usb
		color: #000 
	&__content
		+clr
		position: relative
		padding: 30px 0 50px
		border-top: 1px solid #d9d9d9
		&:before
			content: ""
			position: absolute
			top: -1px
			left: -18px
			width: 18px
			height: 1px
			background: #d9d9d9
	&__list
		li
			margin-bottom: 20px
			font-size: 16px
	span
		color: #999
						 		
.dimensions
	width: 350px
	float: left
	td
		height: 30px
.connection
	+justify
	&__item
		+justify-child
		i
			display: block
			margin-bottom: 35px 
			&.icon-wifi
				+s(wifi)
			&.icon-gprs
				+s(gprs)
			&.icon-ethernet
				+s(ethernet)
			&.icon-ftp
				+s(ftp)
			&.icon-usb
				+s(usb)				
		p
			text-align: center
.icon-mute
	display: inline-block
	vertical-align: middle
	+s(mute)
.eff-radius
	font-size: 0
	&__item
		display: inline-block
		vertical-align: middle
		margin-left: 35px
		&:first-child
			margin-left: 0
	&__left
		display: inline-block
		vertical-align: middle
		font-size: 0
		margin-right: 10px
	&__right
		display: inline-block
		vertical-align: middle
		font-size: 16px
.sert-list
	+clr
	li
		float: left
		margin-right: 18px
		font-size: 0
		i
			display: inline-block
.icon-sert1
	+s(sert1)
.icon-sert2
	+s(sert2)

// software
.software
	padding-top: 60px
	background: #00cbeb
	.slider-wrap
		margin-bottom: 70px 
	.slider__item
		text-align: center
		img
			width: auto  					
			max-width: 100%
	.slider__pager
		span
			background: #fff
			&.cycle-pager-active
				background: #000 		
	&__options
		position: relative 
		font-size: 0
		margin-left: -18px
		&:before
			content: ""
			position: absolute
			top: 0
			left: 18px
			bottom: 0
			width: 2px
			background: #00cbeb
			z-index: 2 
	&__item
		position: relative
		display: inline-block
		vertical-align: top
		width: 176px
		margin-left: 18px 
		text-align: center
		padding: 0 50px
		margin-bottom: 100px
		font-size: 13px
		text-transform: uppercase  
		color: #fff
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			height: 122px
			width: 2px
			background: #a3ecf8  
		img
			display: inline-block
			margin-bottom: 20px
.order
	padding-top: 75px
	&__img
		text-align: center
		font-size: 0
		height: 372px
		.order_kolight &
			height: 210px 
		img
			max-height: 100%
			max-width: 100%
	&__title
		text-align: center
		font-size: 26px
		+usb 				
		margin-bottom: 25px
		.order_kolight &
			font-size: 30px
			text-align: left
	&__text
		min-height: 230px
		padding-bottom: 40px
		font-size: 18px
		.order_kolight &
			font-size: 24px
			min-height: 280px
	&__bottom
		.btn
			width: 100%
			height: 97px
			margin: 0
			font-size: 24px
.gallery
	.cycle-pager
		text-align: center
		padding-top: 40px
		font-size: 0
		& > div
			display: inline-block
			vertical-align: top
			margin: 0 9px
			width: 80px
			font-size: 12px 
			cursor: pointer 
			img
				+opacity(.5)
			p
				text-align: center
				padding: 0 10px 	
			&.cycle-pager-active
				img
					+opacity(1)
	&__slide
		position: relative		
	&__text
		position: absolute
		top: 35px
		left: 45px
		width: 400px
		font-size: 24px
		text-align: left
	&__title
		font-size: 32px  								
		+usb

// capabilities
.capabilities
	padding-top: 30px
	border-top: 2px solid #f2f2f2
	border-bottom: 2px solid #f2f2f2
	margin-bottom: 90px
	.title
		margin-bottom: 50px 			   
	&__list
		position: relative
		font-size: 0
		margin-left: -18px
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			height: 3px
			background: #fff
			z-index: 2 
	&__item
		display: inline-block
		vertical-align: top
		width: 374px
		padding-top: 30px
		margin-left: 18px
		margin-bottom: 60px  
		vertical-align: top
		border-top: 3px solid #ffcb28
	&__img
		height: 260px 
		text-align: center
		font-size: 0
		margin-bottom: 20px
		vertical-align: middle
		&:before
			content: ""
			display: inline-block
			vertical-align: middle
			width: 0
			height: 100%  
		img
			display: inline-block
			vertical-align: middle
	&__title
		font-size: 28px
		+usb
		margin-bottom: 15px
	&__text
		font-size: 14px
		line-height: 1.6  			 	
			
					 			   	 
			 
			 							  				 						 			 			 	 							 		  													  		    			 	